@model WebBanDongHo.Areas.Admin.Models.LoginViewModel

    <div class="product-status mg-b-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

 <form asp-action="AdminLogin" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="userName" style="color:antiquewhite" >Tài khoản:</label>
                                            <div class="input-affix">
                                                <i class="prefix-icon anticon anticon-user"></i>
                                                <input type="text" class="form-control" asp-for="UserName" placeholder="Tài khoản">
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="password" style="color:antiquewhite">Mật khẩu:</label>
                                            <div class="input-affix m-b-10">
                                                <i class="prefix-icon anticon anticon-lock"></i>
                                                <input type="password" class="form-control" asp-for="Password" placeholder="Mật khẩu">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <button class="btn btn-primary">Đăng nhập</button>
                                                <p class="mg-b-0"> @ViewBag.Eror</p>
                                            </div>
                                        </div>
                                    </form>
                </div>
            </div>
        </div>
    </div>